[Desktop Entry]
Name=CoreCyclerLx
Comment=Per-core CPU stability tester and PBO Curve Optimizer tuner
Exec=corecyclerlx
Icon=corecyclerlx
Terminal=false
Type=Application
Categories=System;Monitor;Utility;
Keywords=cpu;stress;test;curve;optimizer;pbo;ryzen;
