[Desktop Entry]
Name=Linux CoreCycler
Comment=Per-core CPU stability tester and PBO Curve Optimizer tuner
Exec=linux-corecycler
Icon=linux-corecycler
Terminal=false
Type=Application
Categories=System;Monitor;Utility;
Keywords=cpu;stress;test;curve;optimizer;pbo;ryzen;
